footer {
    text-align: left;
    margin-left: 5vw;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px 4vw;
}

h1 {
    font-size: 50px;
    font-weight: bolder;
    text-align: center;
    margin: 25px 0px;
}

img {
    width: 200px;
}

main {
    margin-left: 5vw;
}

.agent-selection-card {
    text-align: center;
    font-weight: bolder;
    margin: 0px 4vw;
}

.agent-image {
    height: 400px;
    width: 100%;
}

.homepage-agent-selection-menu {
    height: fit-content;
    margin: 25px 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.lineup img {
    width: 30%;
    border: solid blue 3px;
    border-radius: 50px;
    padding: 0.25vw;
    margin-bottom: 5vh;
}

.lineup-dart img:nth-child(2n) {
    border: solid red 3px;
}

.lineup-dart img:nth-child(3n) {
    border: solid green 3px;
}

.lineup-post img:nth-child(2n) {
    border: solid red 3px;
}

.lineup-post img:nth-child(3n) {
    border: solid green 3px;
}

.lineup-post img:nth-child(4n) {
    border: solid purple 3px;
}

.lineup-post img{
    width: 40%;
}

.lineup .zoom:hover {
    width: 90vw;
    position: absolute;
    left: 5vw;
}

.navbar {
    display: flex;
    flex-direction: row;
    border-bottom: solid black 2px;
    padding: 3vh 9vw;
    margin-left: -4vw;
    width: 100vw;
    background-color: lightgray;
}

.navbar a {
    font-size: 1.5em;
    font-weight: bold;
    margin-right: 3vw;
    text-decoration: none;
}

.navbar a:hover {
    text-decoration: underline;
    color: blue;
}

.navbar a:visited {
    color: blue;
}

.navbar .nav-current a{
    color: green;
    pointer-events: none;
}

.page-content {
    margin: 0px 5vw 2vh 0px;
    text-align: left;
}

.viper-logo {
    position: absolute;
    top: 9.2vh;
    height: 8vh;
    width: auto;
    border: solid green 2px;
    border-radius: 8vh;
}