html {
    font-family: Arial, Helvetica, sans-serif;
}

footer {
    position: absolute;
    bottom: 5px;
    left: 5vw;
}

h1 {
    font-size: 50px;
    font-weight: bolder;
    text-align: center;
}

img {
    width: 200px;
}

.homepage-agent-selection-menu {
    margin: 25px 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.agent-selection-card {
    text-align: center;
    font-weight: bolder;
    margin: 0px 4vw;
}

.agent-image {
    height: 400px;
    width: 100%;
}

.page-content {
    margin: 0px 5vw 2vh 5vw;
    text-align: left;
}