@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@keyframes slideFromLeft {
    from {
        left: -500px;
    }

    to {
        left: 0;
    }
}

@keyframes slideFromRight {
    from {
        right: -500px;
    }

    to {
        right: 0;
    }
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

html {
    font-family: 'Roboto', sans-serif;
}

footer {
    margin-top: auto;
    background-color: black;
    color: white;
    text-align: center;
    padding: 3%;
}

footer p {
    font-size: 0.8em;
    margin-bottom: 0;
}


footer p a {
    color: aqua;
    text-decoration: none;
}

h1 {
    font-size: 40px;
    font-weight: bolder;
    text-align: center;
}

h2 {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

h3 {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin: 1vh 0;
}

img {
    width: 200px;
}

.skip {
    position: absolute;
    left: -500px;
}

.agent-selection-card {
    position: relative;
    text-align: center;
    font-weight: bolder;
    margin: 0px 4vw;
}

.agent-selection-card p {
    display: none;
}

.agent-title {
    margin: 1vh 0;
    font-size: 40px;
}

.agent-image {
    width: 90vw;
    height: auto;
}

.mobile-btn {
    height: 100px;
    width: 300px;
    margin-bottom: 3vh;
}

.carousel-caption h1 {
    padding-bottom: 10%;
    color: black;
    -webkit-text-stroke: 1px white;
}

.current-nav {
    color: blue;
}

/* W3 Schools Flipcard CSS */
/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
    margin-bottom: 1vh;
    background-color: transparent;
    width: 100%;
    height: 175px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner,
.flip-card:focus .flip-card-inner {
    transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
    background-color: white;
    color: black;
}

/* Style the back side */
.flip-card-back {
    background-color: black;
    color: white;
    transform: rotateY(180deg);
}

.form-submit {
    margin-top: 1vh;
    height: fit-content;
    width: 100px;
}

.from-left {
    animation-name: slideFromLeft;
    animation-duration: 2s;
}

.from-right {
    animation-name: slideFromRight;
    animation-duration: 2s;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
}

.header-text {
    color: white;
}

.lineup {
    margin: auto;
    width: 90%;
}

.lineup img {
    justify-self: center;
    width: 80%;
    border: solid blue 3px;
    border-radius: 50px;
    padding: 0.25vw;
    margin-bottom: 5vh;
}

.lineup-banner-non-mobile {
    background-color: lightblue;
    padding: 3%;

    /* Parallax */
    min-height: 200px;
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
}

.lineup-banner-kayo-mobile {
    min-height: 200px;
    background-position: center;
    background-image: url('../images/kayo-banner.png');
}

.lineup-banner-sova-mobile {
    min-height: 200px;
    background-position: center;
    background-image: url('../images/sova-banner.png');
}

.lineup-banner-viper-mobile {
    min-height: 200px;
    background-position: center;
    background-image: url('../images/viper-banner.png');
}

.lineup-banner-killjoy-mobile {
    min-height: 200px;
    background-position: center;
    background-image: url('../images/killjoy-banner.png');
}

.lineup-banner-kayo-non-mobile {
    background-image: url('../images/home-kayo-agent.png');
}

.lineup-banner-sova-non-mobile {
    background-image: url('../images/home-sova-agent.png');
}

.lineup-banner-viper-non-mobile {
    background-image: url('../images/home-viper-agent.png');
}

.lineup-banner-killjoy-non-mobile {
    background-image: url('../images/home-killjoy-agent.png');
}

.lineup-mobile-container {
    margin: 1vh 0 2vh 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lineup-title {
    margin: 3%;
}

.map-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mobile-buttons {
    margin-top: 1vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

#mobile-helper-text {
    margin-bottom: 0;
    font-weight: bolder;
    text-align: center;
}

.nav-img {
    max-height: 40px;
    width: auto;
}

.navbar {
    display: flex;
    flex-direction: row;
    border-bottom: solid black 2px;
    padding: 3vh 9vw;
    margin-left: -4vw;
    background-color: lightgray;
}

.navbar a {
    font-size: 1.5em;
    font-weight: bold;
    margin-right: 3vw;
    text-decoration: none;
}

.navbar a:hover {
    text-decoration: underline;
    color: blue;
}

.navbar a:visited {
    color: blue;
}

.navbar .nav-current a{
    color: green;
    pointer-events: none;
}

.page-content {
    font-size: 15px;
    margin: 0px 5vw 2vh 5vw;
    text-align: left;
}

.source-card {
    margin-top: 4vh;
    display: flex;
    flex-direction: column;
}

.source-form {
    margin-top: 1vh;
    display: flex;
    flex-direction: column;
}

.source-form-box {
    margin: 0px 5vw 2vh 5vw;
    display: flex;
    flex-direction: column;
}

.source-links {
    margin: 0px 5vw 5vh 5vw;
    display: flex;
    flex-direction: column;
}

.suggestion-box {
    height: 15vh;
    width: 70vw;
}

.viper-lineup-title {
    margin: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
}

.viper-logo {
    height: 4vh;
    align-self: center;
    width: auto;
    border: solid green 2px;
    border-radius: 8vh;
}

.zoom {
    grid-column-start: 1;
    grid-column-end: 3;
}

.tablet {
    display: none;
}

.non-mobile {
    display: none;
}

/* Tablet View */
@media screen and (min-width: 720px){

    .accordion-body iframe {
        height: 300px;
        width: 80%;
    }

    .homepage-agent-selection-menu {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        flex-direction: row;
        margin-bottom: 2vh;
    }

    .agent-image {
        max-height: 300px;
        width: auto;
    }

    .flip-card {
        height: 350px;
    }

    .flip-card img {
        margin: auto;
    }

    .flip-card-back {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .mobile {
        display: none;
    }

    #hide-tablet-flip {
        display: none;
    }

    .tablet {
        display: block;
    }

    .non-mobile {
        display: block;
    }

    .grid-container br {
        display: none;
    }

    .grid-container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(4, 75px);
        justify-items: start;
        align-items: center;
    }
    
    .grid-item-name {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .grid-item-email {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    .grid-item-source {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }

    .grid-item-suggest {
        width: 100%;
        grid-column: 2 / 3;
        grid-row: 1 / 4;
    }

    .grid-item-suggestion {
        grid-column: 1 / 2;
    }

    .suggestion-box {
        width: 100%;
    }

    .grid-item-submit {
        justify-self: end;
        grid-column: 1 / 3;
        grid-row: 4 / 5;
    }
}

/* Desktop View */
@media screen and (min-width: 1100px){
    h1 {
        font-size: 50px;
    }

    footer {
        padding: 1.5%;
        font-size: 1.3em;
    }
    
    .agent-image {
        height: 400px;
        width: 100%;
    }

    .agent-selection-card p {
        display: none;
    }

    .flip-card {
        width: auto;
        height: 500px;
    }

    .flip-card img {
        margin: auto;
    }

    .flip-card-back {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .homepage-agent-selection-menu {
        height: fit-content;
        margin: 25px 0px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .lineup-container {
        width: 50%;
    }

    .lineup-wrap {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    }

    .mobile {
        display: none;
    }

    #hide-tablet-flip {
        display: block;
    }

    .tablet {
        display: none;
    }

    .non-mobile {
        display: block;
    }

    .grid-container {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 100px 1fr 35px;
        align-items: center;
        justify-items: center;
    }
    
    .grid-item-name {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .grid-item-email {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

    .grid-item-source {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
    }

    .grid-item-suggest {
        width: 100%;
        grid-column: 1 / 4;
        grid-row: 2 / 3;
        display: grid;
        grid-template-columns: auto 50px 1fr;
        grid-template-rows: 1fr;
    }

    .grid-item-suggestion {
        grid-column:  1 / 2;
    }

    .grid-item-box {
        grid-column: 3 / 4;
        justify-self: end;
    }

    .suggestion-box {
        width: 100%;
    }

    .grid-item-submit {
        justify-self: end;
        grid-column: 1 / 4;
        grid-row: 3 / 4;
    }
}

@media screen and (prefers-reduced-motion) {
    .from-left {
        animation: none;
    }
    
    .from-right {
        animation: none;
    }

    .flip-card-inner {
        transition: none;
    }

    .lineup-banner-non-mobile {
        background-attachment: scroll;
    }
}